<div class="columns is-mobile is-gapless service-images">

  <div class="column is-narrow">
    <div class="image-item field" id="preview">
      <figure class="image is-96x96">
        <label class="file-label">
          <%= form.file_field :photos, multiple: true, id: "files", class:"file-input" %>
          <span class="file-cta">
            <span class="file-label is-size-1">
              <i class="fas fa-plus"></i>
            </span>
          </span>
        </label>
      </figure>
    </div>
  </div>
  <div class="column content-images">
    <% if @service.photos.present? %>
      <div class="columns is-multiline is-mobile is-gapless">
        <% @service.photos.each do |photo| %>
          <div class="column is-narrow" id="photo-<%= photo.id %>">
            <div class="image-item">
              <figure class="image is-96x96">
                <%= image_tag(@service.thumbnail(photo, :small)) %>
              </figure>
              <div class="options">
                <% unless photo.new_record? %>
                  <%= link_to photo_path(photo), remote: true, method: :delete,
                              data: { confirm: 'Você tem certeza?' },
                              class: "button is-light" do %>
                    <span class="icon">
                      <i class="fas fa-times has-text-danger is-size-4"></i>
                    </span>
                  <% end %>
                  <a class="button is-light modal-button" data-target="photo-show-<%=photo.id%>">
                    <span class="icon">
                      <i class="far fa-eye has-text-white is-size-4"></i>
                    </span>
                  </a>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal" id="photo-show-<%= photo.id %>">
            <div class="modal-background"></div>
            <div class="modal-content">
              <p class="image is-4by3">
                <%= image_tag(@service.thumbnail(photo, :large)) %>
              </p>
            </div>
            <a class="modal-close is-large" aria-label="close"></a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
