<%= form_with model: @service, url: url, local: true do |f| %>

  <div class="columns is-multiline">
    <div class="column is-12">
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @service.errors.full_messages.each do |msg| %>
              <div class="notification is-danger">
                <button class="delete" type="button"></button>
                <%= msg %>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="column is-12">
      <% if @service.new_record? %>
        <h1 class="has-text-centered has-text-weight-bold	is-size-4">Adicionar Serviço</h1>
      <% else %>
        <h1 class="has-text-centered has-text-weight-bold	is-size-4">Editar Serviço</h1>
      <% end %>
    </div>

    <% unless @service.new_record? %>
      <div class="column is-3" id="preview">
        <div class="content has-text-centered is-inline">
          <div class="field">
            <div class="file is-small is-boxed" id="gallery">
              <label class="file-label">
                <%= f.file_field :photos, multiple: true, id: "files" ,class:"file-input" %>
                <span class="file-cta">
                  <span class="file-label is-size-1">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <% if @service.photos.present? %>
        <% @service.photos.each do |photo| %>
          <div class="column is-3" id="photo-<%= photo.id %>">
            <div class="card">
              <div class="card-content is-inline">
                <div class="content">
                  <%= image_tag(@service.thumbnail(photo, :small)) %>
                </div>
              </div>
              <% unless photo.new_record? %>
                <footer class="card-footer">
                  <%= link_to 'Remove',
                              photo_path(photo),
                              remote: true,
                              method: :delete,
                              data: { confirm: 'Você tem certeza?' },
                              class: "card-footer-item" %>
                </footer>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="column is-12">
      <div class="field">
        <%= f.label "Título", class: "label" %>
        <div class="control">
          <%= f.text_field :title, class: "input" %>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="field">
        <%= f.label "Descrição", class: "label" %>
        <div class="control">
          <%= f.text_area :description, class: "textarea" %>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="field">
        <%= f.label "Valor", class: "label" %>
        <div class="control">
          <%= f.text_field :amount, class: "input" %>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="field">
        <label class="label">Duração <small>(tempo em minutos)</small></label>
        <div class="control">
          <%= f.text_field :duration, class: "input", placeholder: "Duração em minutos" %>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="field">
        <%= f.label "Categoria", class: "label" %>
        <div class="control">
          <div class="select">
            <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, prompt: "Selecione" %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <%= f.label "Onde o serviço é feito ?", class: "label" %>
      <div class="control">
        <label class="radio">
          <%= f.radio_button :local_type, 'home' %>
          Em casa
        </label>
        <strong> ou </strong>
        <label class="radio">
          <%= f.radio_button :local_type, 'establishment' %>
          No estabelecimento
        </label>
      </div>
    </div>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="is-pulled-right">
        <%= f.submit "Salvar", class: "button is-primary" %>
      </div>
    </div>
  </div>

<% end %>
