<div class="columns is-centered is-multiline">
  <div class="column is-10">
    <%= image_tag 'https://bulma.io/images/placeholders/1280x960.png' %>
  </div>
  <div class="column is-12">
    <div class="columns is-vcentered is-centered">
      <!-- <span class="is-size-4 is-pulled-right"> <i class="fas fa-arrow-left"></i> </span> -->
      <div class="column is-2">
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      </div>
      <div class="column is-2">
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      </div>
      <div class="column is-2">
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      </div>
      <div class="column is-2">
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      </div>
      <div class="column is-2">
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      </div>
      <!-- <span class="is-size-4 is-pulled-left"> <i class="fas fa-arrow-right"></i> </span> -->
    </div>
  </div>
</div>