<h1 class="title"><%= @service.title %></h1>
<p class="subtitle"><%= @service.establishment.name %></p>

<div class="columns is-mobile">
  <div class="column is-6 review">
    <p>207 avaliações</p>
    <p>
      <i class="fas fa-star is-size-6"></i>
      <i class="fas fa-star is-size-6"></i>
      <i class="fas fa-star is-size-6"></i>
      <i class="far fa-star is-size-6"></i>
      <i class="far fa-star is-size-6"></i>
    </p>
  </div>
  <div class="column is-6 favorite">
    <a><i class="far fa-heart is-size-5"></i> Favoritar</a>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column info">
    <p><%= @service.description %></p>
  </div>
</div>
<div class="columns is-mobile info">
  <div class="column is-6">
    <p>Atendimento</p>
    <%= image_tag '/images/hours.png' %>
    <p><%= @service.establishment.timetable %></p>
  </div>
  <div class="column is-6 info">
    <p>Duração estimada</p>
    <%= image_tag '/images/time.png' %>
    <p><%= @service.duration %> minutos</p>
  </div>
</div>
