<%= render 'shared/header', to_back: establishments_dashboard_path(current_user.establishment), fixed: false %>
<div class="services_form">
  <div class="container">
    <%= render "form", url: establishment_service_path %>
    <div class="columns is-multiline professional_services">
      <div class="column is-12">
        <h1 class="title is-size-4 has-text-grey has-text-weight-normal">Profissionais do serviço</h1>
      </div>
      <div class="column is-12">
        <%= render 'professional_services/form' %>
      </div>
      <div class="column is-12">
        <%= render @service.professional_services %>
      </div>
    </div>
  </div>
  <%= render 'shared/establishment_bottom_navigation_bar', tab: 'services' %>
</div>