<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="tabs is-centered">
        <ul>
          <li>
            <%= link_to "#" do %>
              <span class="icon is-small">
                <i class="fas fa-calendar-alt"></i>
              </span>
              <span>Minha Agenda</span>
            <% end %>
          </li>
          <li class="is-active">
            <%= link_to "#" do %>
              <span class="icon is-small">
                <i class="fas fa-briefcase"></i>
              </span>
              <span>Meus Serviços</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="icon is-small">
                <i class="fas fa-history"></i>
              </span>
              <span>Histórico</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="column is-12">
      <%= link_to new_establishment_service_path, class: "button is-primary is-outlined" do %>
        <i class="fas fa-plus-circle"></i>
        <span> Novo Serviço</span>
      <% end %>
    </div>
    <% @services.each do |service| %>
      <div class="column is-12">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is64x64">
                <% if service.photos.attached? %>
                  <%= image_tag service.photos.first %>
                <% else %>
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="columns">
                <div class="column is-10">
                  <div class="content">
                    <p><strong><%= service.title %></strong></p>
                    <p><%= service.description %></p>
                  </div>
                </div>
                <div class="column is-2 text-button">
                  <p class="level-item text-button">
                    <i class="fas fa-dollar-sign"></i>
                    <%= service.amount %>
                  </p>
                  <p class="level-item text-button">
                    <i class="fas fa-hourglass-half"></i>
                    <%= service.duration %> min
                  </p>
                  <%= link_to edit_establishment_service_path(service.establishment_id, service.id), class: "level-item button is-link", aria: {label: "reply"} do %>
                    <i class="fas fa-edit"></i>
                    <span>Editar</span>
                  <% end %>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    <% end %>
  </div>
</div>
