<div class="container">
  <h1 class="title has-text-centered has-text-primary is-size-2">BLZ</h1>
  <h2 class="subtitle has-text-centered has-text-white  is-size-4">Agendamento realizado</h2>

  <div class="item">
    <p class=" has-text-centered has-text-primary is-size-4">
      Olá, <%= @scheduling.user.name %>!
    </p>
  </div>

  <div class="item">
    <p class="has-text-centered is-size-5">
      O agendamento do serviço <strong><%= @scheduling.service.title %></strong>
      com <strong><%= @scheduling.service.establishment.name %></strong> foi
      realizado com sucesso.
    </p>
  </div>

  <div class="item">
    <p class="has-text-centered has-text-grey is-size-5">
      Valor
    </p>
    <p class="has-text-centered is-size-5">
      R$ <%= @scheduling.service.amount %>
    </p>
  </div>

  <div class="item">
    <p class="has-text-centered has-text-grey is-size-5">
      Quando
    </p>
    <p class="has-text-centered is-size-5">
      <%= "#{I18n.l(@scheduling.date, format: :day_month)} às #{I18n.l(@scheduling.date, format: :time)}" %>
    </p>
  </div>

  <div class="item">
    <p class="has-text-centered has-text-grey is-size-5">
      Onde
    </p>
    <p class="has-text-centered is-size-5">
      <%= @scheduling.service.establishment.address.full %>
    </p>
  </div>

  <div class="item has-text-centered">
    <%= link_to 'Mais detalhes', users_dashboard_url(@scheduling.user), class: 'button is-primary is-size-5' %>
  </div>

  <div class="item">
    <p class="has-text-centered has-text-grey is-size-5">
      Abraços, </br>
      Equipe BLZ
    </p>
  </div>
</div>
