<%= render 'shared/header', to_back: root_path %>
<div class="form-login">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'custom' }) do |f| %>
      <div class="columns is-multiline">
        <div class="column is-12">
          <h1 class="is-size-4 has-text-grey has-text-centered"> Não recebeu a confirmação? </h1>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Email <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.email_field :email, class: "input", placeholder: "ex: exemplo@blz.life", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12 has-text-centered">
          <%= link_to 'Voltar', :back, class: 'button is-text has-text-grey' %>
          <%= f.submit 'Salvar', class: 'button is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>