<div class="devise">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Não recebeu a confirmação?</h3>
            <p class="subtitle has-text-grey">Por favor coloque novamente seu email para receber as instruções</p>
            <div class="box">
              <figure class="avatar">
                <img src="https://placehold.it/128x128">
              </figure>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.email_field :email, class: "input is-large", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
              </div>

              <div class="actions">
                <%= f.submit "Enviar", class: "button is-block is-info is-large is-fullwidth" %>
              </div>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>