<%= render 'shared/header', to_back: false, fixed: false %>
<div class="form-login edit">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'custom' }) do |f| %>
      <div class="columns is-multiline">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="column is-12">
          <div class="field">
            <label class="file-label">
              <%= f.file_field :photo, class: 'file-input', accept: "image/x-png,image/jpeg", id: 'user-photo-add' %>
              <figure class="image is-128x128" id="temporary_image">
                <% if current_user.photo.attached? %>
                  <%= image_tag current_user.photo, class: "is-rounded" %>
                <% else %>
                  <img class="is-rounded" src="/images/128x128.png">
                <% end %>
              </figure>
            </label>
          </div>
        </div>
        <div class="column is-12">
          <h1 class="is-size-4 has-text-grey has-text-centered"> <%= current_user.name %> </h1>
        </div>
        <div class="column is-12">
          <div class="tabs is-centered">
            <ul>
              <li class="is-active">
                <%= link_to 'Geral', edit_user_registration_path %>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Nome <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :name, class: "input", placeholder: "Informe seu nome", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Email <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.email_field :email, class: "input", placeholder: "ex: exemplo@blz.life", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">CPF <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :cpf, class: "input cpf", placeholder: "Informe seu CPF", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Data de nascimento <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.date_field :birth_date, id: :birthdate, class: "input", placeholder: "Informe sua data de nascimento", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Telefone <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :phone, class: "input phone", placeholder: "Informe seu telefone", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Sua senha atual <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.password_field :current_password, class: "input", placeholder: "Sua senha atual", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <h2 class="title is-size-5 has-text-grey"> Alterar Senha </h2>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Nova senha (para alterar a senha)</label>
            <div class="control">
              <%= f.password_field :password, class: "input", placeholder: "Informe uma senha" %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Cofirme sua nova senha (para alterar a senha)</label>
            <div class="control">
              <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirme sua senha" %>
            </div>
          </div>
        </div>
        <div class="column is-12 has-text-centered">
          <%= link_to 'Voltar', users_dashboard_path(current_user), class: 'button is-text has-text-grey' %>
          <%= f.submit 'Salvar', class: 'button is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/user_bottom_navigation_bar', tab: 'profile' %>
