<div class="devise">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Editar</h3>
            <p class="subtitle has-text-grey">Por favor preencha os campos abaixo para prosseguir</p>
            <div class="box">
              <figure class="avatar">
                <img src="https://placehold.it/128x128">
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <div class="control">
                    <%= f.email_field :email, autocomplete: "email is-large", class: "input is-large", placeholder: "Email" %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.password_field :password, class: "input is-large", placeholder: "Senha (Deixe em branco se não quiser mudar)" %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.password_field :password_confirmation, class: "input is-large", placeholder: "Confirme sua senha" %>
                  </div>
                </div>

                <div class="field">
                  <%= f.password_field :current_password, class: "input is-large", placeholder: "Sua senha atual" %>
                </div>

                <div class="actions">
                  <%= f.submit "Atualizar", class: "button is-block is-info is-large is-fullwidth" %>
                </div>
              </figure>
            </div>
            <%= link_to "Voltar", :back %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>