<%= render 'shared/header', to_back: new_user_session_path, fixed: false %>
<div class="form-login">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {  class: 'custom' }) do |f| %>
      <div class="columns is-multiline">
        <div class="column is-12">
          <h1 class="is-size-4 has-text-grey has-text-centered"> Faça seu cadastro </h1>
        </div>

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Nome <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :name, class: "input", placeholder: "Informe seu nome", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Email <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.email_field :email, class: "input", placeholder: "ex: exemplo@blz.life", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Senha <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.password_field :password, class: "input", placeholder: "Informe sua senha", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Confime sua senha <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirme sua senha", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <%= f.check_box :terms_acceptation, class: 'is-checkradio', id: 'local_type_home' %>
            <label for="local_type_home" class="label has-text-grey has-text-weight-normal">Estou de acordo os <%= link_to 'termos de uso', use_rules_path, target: '_blank' %>  do sistema.</label>
          </div>
        </div>
        <div class="column is-12 has-text-centered">
          <%= link_to 'Voltar', new_user_session_path, class: 'button is-text has-text-grey' %>
          <%= f.submit 'Salvar', class: 'button is-light' %>
        </div>
        <div class="column is-12">
          <p class="has-text-grey has-text-centered">
            Já possui uma conta? <%= link_to "Faça o acesso", new_user_session_path %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>