<%= render 'shared/header', to_back: true %>
<div class="devise">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <section class="login_form">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4 is-mobile">
        <h3 class="title">Faça seu cadastro</h3>
        <div class="box">
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="control">
              <%= f.label :name, "Nome", class: "label" %>
              <%= f.text_field :name, autocomplete: "name", placeholder: "Informe seu nome", class: "input is-medium", required: true  %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :email, "Email", class: "label" %>
              <%= f.email_field :email, autocomplete: "email", placeholder: "ex: example@blz.life", class: "input is-medium", required: true  %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :password, "Senha", class: "label" %>
              <%= f.password_field :password, class: "input is-medium", placeholder: "Informe sua senha", required: true  %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :password_confirmation, "Confime sua senha", class: "label" %>
              <%= f.password_field :password_confirmation, class: "input is-medium", placeholder: "Confirme sua senha", required: true  %>
            </div>
          </div>

          <div class="field column is-12 has-text-justified">
            <%= f.check_box :terms_acceptation, checked_value: true, required: true, class: "is-checkradio" %>
            <label for="user_terms_acceptation">Estou de acordo os <a href="#">termos de uso</a> do sistema.</label>
          </div>

          <div class="columns is-mobile field">
            <div class="column">
              <%= link_to "Voltar", root_path, class: "button is-block is-large is-fullwidth" %>
            </div>

            <div class="column">
              <%= f.submit "Cadastrar", class: "button is-block is-info is-large is-fullwidth" %>
            </div>
          </div>

          <div class="field">
            <p class="has-text-grey">
              Já possui uma conta? <%= link_to "Faça o acesso", new_user_session_path %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
</div>