<%= form_with model: @professional, url: url, class: 'custom', local: true do |f| %>
  <div class="columns is-multiline">
    <div class="column is-12">
      <% if @professional.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @professional.errors.full_messages.each do |msg| %>
              <div class="notification is-danger">
                <button class="delete" type="button"></button>
                <%= msg %>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="column is-12">
      <% if @professional.new_record? %>
        <h1 class="is-size-4 has-text-grey">Novo Profissional</h1>
      <% else %>
        <h1 class="is-size-4 has-text-grey">Editar Profissional</h1>
      <% end %>
    </div>

    <div class="column is-12">
      <div class="field">
        <div class="file is-warning is-boxed">
          <label class="file-label">
            <%= f.file_field :photo, class: "file-input", id: "user-photo-add", accept: "image/x-png,image/jpeg" %>
            <figure class="image is-128x128" id="temporary_image">
              <% if @professional.photo.attached? %>
                <%= image_tag @professional.photo, class: "is-rounded" %>
              <% else %>
                <img class="is-rounded" src="/images/128x128.png">
              <% end %>
            </figure>
          </label>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Nome <small class="is-danger">*</small></label>
        <div class="control">
          <%= f.text_field :name, class: "input", placeholder: 'Qual o nome do profissional ? (obrigatório)', required: true %>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="field">
         <label class="label has-text-grey has-text-weight-normal">Descrição</label>
        <div class="control">
          <%= f.text_area :description, class: "textarea", placeholder: 'Dê uma descrição para esse profissional (opcional)' %>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <%= link_to :excluir,
                  establishment_professional_path(@establishment, @professional),
                  class: 'button is-text has-text-danger is-capitalized',
                  method: :delete,
                  data: { confirm: 'Você tem certeza?' } unless @professional.new_record? %>
      <%= f.submit 'Salvar', class: 'button is-light is-pulled-right' %>
      <%= link_to 'Voltar', establishment_professionals_path(current_user.establishment), class: 'button is-text has-text-grey  is-pulled-right' %>
    </div>
  </div>
<% end %>
