<%= render 'shared/header', to_back: false, fixed: true %>
<%= render 'notify_header' if @professional.office_hours.empty? %>
<div class="professionals_form">
  <div class="container">
    <%= render "form", url: establishment_professional_path(establishment_id: @establishment.id, id: @professional.id) %>
    <div class="columns is-multiline office_hours">
      <div class="column is-12">
        <h1 class="title is-size-4 has-text-grey has-text-weight-normal">Horário de trabalho</h1>
      </div>
      <div class="column is-12">
        <%= render 'office_hours/form' %>
      </div>
      <div class="column is-12">
        <%= render "office_hours/table_list", office_hours: @professional.office_hours %>
      </div>
    </div>

    <div class="columns is-multiline professional_services">
      <h1 class="title is-size-4 has-text-grey has-text-weight-normal">Serviços (<%= @professional.services.count%>)</h1>
       <% @professional.services.each do |service| %>
        <div class="column is-12">
          <p>
            <%= service.title %>
            <span class="icon is-pulled-right">
              <%= link_to edit_establishment_service_path(service.establishment_id, service.id),
                    class: "button is-light" do %>
                <i class="fas fa-external-link-alt"></i>
              <% end %>
            </span>
          </p>
          <div class="is-divider"></div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/establishment_bottom_navigation_bar', tab: 'professionals' %>
</div>
