<%= form_with url: establishment_professional_office_hours_path(establishment_id: @establishment.id, professional_id: @professional.id) do |f| %>
  <div class="columns is-multiline">
    <div class="column is-12">
      <h1 class="title">Horários</h1>
    </div>
    <div class="column is-2">
      <div class="field">
        <%= f.label "Dia", class: "label" %>
        <div class="control">
          <div class="select">
            <%= f.select :week_day, OfficeHour.week_days.keys.map { |w| [w, w] } %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="field">
        <%= f.label "Inicio", class: "label" %>
        <div class="control">
          <%= f.text_field :hour_begin, class: "input clock", required: true %>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="field">
        <%= f.label "Fim", class: "label" %>
        <div class="control">
          <%= f.text_field :hour_end, class: "input clock", required: true %>
        </div>
      </div>
    </div>
    <div class="column is-2" style="margin-top: 30px;">
      <%= f.submit "Adicionar", class: "button is-outlined is-primary is-pulled-right" %>
    </div>
  </div>
<% end %>