<%= form_with url: establishment_professional_office_hours_path(establishment_id: @establishment.id, professional_id: @professional.id), class: :custom, local: true do |f| %>
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Dia <small class="is-danger">*</small></label>
        <div class="control">
          <div class="select">
            <%= f.select :week_day, OfficeHour.week_days.keys.map { |w| [w.capitalize, w] },
                         { prompt: 'selecione o dia da semana' },
                         { required: true } %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Hora de Início <small class="is-danger">*</small></label>
        <div class="control">
          <%= f.text_field :hour_begin, class: "input clock", required: true %>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Hora de saída <small class="is-danger">*</small></label>
        <div class="control">
          <%= f.text_field :hour_end, class: "input clock", required: true %>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <%= f.submit 'Adicionar', class: 'button is-light is-pulled-right' %>
    </div>
  </div>
<% end %>