<div class="bottom-navigation-bar">
  <div class="tabs is-centered">
    <ul>
      <li class="tab <%= tab == 'scheduling' ? 'is-active' : ''%>">
        <%= link_to establishments_dashboard_path(current_user.establishment) do %>
          <div class="columns is-multiline is-gapless has-text-centered">
            <div class="column is-12">
              <span class="icon is-small is-size-4">
                <i class="far fa-calendar"></i>
              </span>
            </div>
            <div class="column is-12">
              <span>Agenda</span>
            </div>
          </div>
        <% end %>
      </li>
      <li class="tab <%= tab == 'services' ? 'is-active' : ''%>">
        <%= link_to establishment_services_path(current_user.establishment) do %>
          <div class="columns is-multiline is-gapless has-text-centered">
            <div class="column is-12">
              <span class="icon is-small is-size-4">
                <i class="fas fa-spa"></i>
              </span>
            </div>
            <div class="column is-12">
              <span>Serviços</span>
            </div>
          </div>
        <% end %>
      </li>
      <li class="tab <%= tab == 'professionals' ? 'is-active' : ''%>">
         <%= link_to establishment_professionals_path(current_user.establishment) do %>
          <div class="columns is-multiline is-gapless has-text-centered">
            <div class="column is-12">
              <span class="icon is-small is-size-4">
                <i class="fas fa-user-tie"></i>
              </span>
            </div>
            <div class="column is-12">
              <span>Profissionais</span>
            </div>
          </div>
        <% end %>
      </li>
      <li class="tab <%= tab == 'profile' ? 'is-active' : ''%>">
        <%= link_to edit_establishment_path(current_user.establishment) do %>
          <div class="columns is-multiline is-gapless has-text-centered">
            <div class="column is-12">
              <span class="icon is-small is-size-4">
                <i class="fas fa-user-cog"></i>
              </span>
            </div>
            <div class="column is-12">
              <span>Perfil</span>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>