<% if @establishment.professionals.any? %>
  <div class="columns is-multiline">
    <div class="column is-12">
      <%= link_to new_establishment_professional_path(establishment_id: current_user.establishment.id), 
          class: "button is-primary is-outlined" do %>
        <i class="fas fa-plus-circle"></i>
        <span> Novo profissional</span>
      <% end %>
    </div>
    <% @establishment.professionals.each do |professional| %>  
      <div class=" column is-6">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <% if professional.photo.attached? %>
                  <%= image_tag professional.photo %>
                <% else %>
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= professional.name %></strong> <small><%= professional.professional_services.count%>serviços</small>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <%= link_to edit_establishment_professional_path(establishment_id: @establishment.id, id: professional.id),
                              class: "level-item button is-link is-small", aria: {label: "reply"} do %>
                    <i class="fas fa-edit"></i>
                    <span>Editar</span>
                  <% end %>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
    <% end %>
<% else %>
  <div class="columns is-multiline is-centered is-vcentered no-scheduling">
    <div class="column is-12 has-text-centered">
      <p class="has-text-grey-light has-text-weight-semibold is-size-3 ">
        Você ainda não possui agendamentos :(
      </p>
    </div>
    <div class="column is-12 has-text-centered">
      <p class="has-text-grey-light is-size-1">
        <i class="fas fa-business-time"></i>
      </p>
    </div>
    <div class="column is-12 has-text-centered">
      <%= link_to root_path do %>
        <span class="button is-info is-size-5">
          Cadastre um profissional aqui
        </span>
      <% end %>
    </div>
  </div>
<% end %>