<div class="column is-6 is-4-desktop">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <% if service.photos.attached? %>
          <%= image_tag service.thumbnail(service.photos.sample, :medium) %>
        <% else %>
          <img src="/images/1280x960.png">
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <p class="title has-text-black is-size-5"><%= service.title %></p>
      <div class="columns is-multiline infos is-mobile">
        <div class="column is-6">
          <p class="is-size-6-desktop is-size-7">Duração</p>
          <span class="icon has-text-black is-size-5"><i class="far fa-clock"></i></span>
          <span class="is-size-6 has-text-black has-text-weight-semibold"><%= service.duration %> min</span>
        </div>
        <div class="column is-6">
          <p class="is-size-6-desktop is-size-7">Situação</p>
          <span class="icon has-text-black is-size-5"><i class="fas fa-info-circle"></i></span>
          <span class="is-size-6 has-text-black has-text-weight-semibold"><%= service.t_status %></span>
        </div>
        <div class="column is-6">
          <p class="is-size-5 has-text-black has-text-weight-semibold">R$ <%= service.amount %></p>
        </div>
        <div class="column is-6 has-text-centered">
          <%= link_to 'Detalhes', edit_establishment_service_path(service.establishment_id, service.id),
                      class: "button is-light"%>
        </div>
      </div>
    </div>
  </div>
</div>