<%= render 'pages/shared/header' %>
<div class="establishments_dashboard">
  <div class="container">
    <div class="columns is-multiline is-gapless">
      <div class="column is-12">
        <div  id="scheduling" class="content-tab">
          <%= render 'scheduling' %>
        </div>
      </div>
      <div class="column is-12">
        <div  id="services" class="content-tab" style="display:none">
          <%= render 'services' %>
        </div>
      </div>
      <div class="column is-12">
        <div  id="professionals" class="content-tab" style="display:none">
          <%= render 'professionals' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'bottom_navigation_bar' %>
</div>

