<%= render 'shared/header', to_back: false, fixed: true %>
<%= render 'notify_header' %>
<div class="establishments_dashboard">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <% if @scheduling.any? %>
          <div class="columns is-multiline is-mobile">
            <div class="column is-9">
              <h1 class="is-size-4 has-text-grey"> Minha agenda </h1>
            </div>
            <div class="column is-3">
              <%= link_to :ocupado, '#busy-scheduling-modal', class: 'button is-danger-custom is-pulled-right is-capitalized modal-button',
                          data: { target: 'busy-scheduling-modal' }%>
            </div>
            <%= form_with url: establishments_dashboard_path(current_user.establishment), local: true, method: :get, class: 'column is-12 field is-grouped' do |f| %>
              <div class="column is-6">
                <div class="control">
                  <div class="select">
                    <%= select_tag :establishments_dashboard_status, options_for_select(scheduling_status, selected: @status), prompt: "Todos" %>
                  </div>
                </div>
              </div>
              <div class="column is-6 control">
                <%= f.radio_button(:date, 'today', class: 'is-checkradio radio_filter_scheduling_cards', id: 'date_today', checked: @date == 'today') %>
                <label class="has-text-grey" for="date_today">Hoje</label>
                <%= f.radio_button(:date, 'week', class: 'is-checkradio radio_filter_scheduling_cards', id: 'date_week', checked: @date == 'week') %>
                <label class="has-text-grey" for="date_week">Semana</label>
                <%= f.radio_button(:date, 'month', class: 'is-checkradio radio_filter_scheduling_cards', id: 'date_month', checked: @date == 'month') %>
                <label class="has-text-grey" for="date_month">Mês</label>
              </div>
            <% end %>
            <% @scheduling.each do |s| %>
              <%= render 'scheduling_card', scheduling: s %>
            <% end %>
          </div>
        <% else %>
          <div class="column is-12">
            <p class="has-text-centered has-text-white-light is-size-4">
              Você ainda não possui agendamentos :(
            </p>
          </div>
        <% end %>
      </div>
      <div class="column is-12" id="profile" style="display:none">
        <div class="columns is-multiline is-mobile">
          <%= render 'establishments/form' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/establishment_bottom_navigation_bar', tab: 'scheduling' %>
</div>
<%= render 'busy_scheduling' %>
