<div class="column is-4 is-3-widescreen">
  <div class="card">
    <% if service.photos.attached? %>
      <div class="image-mobile" style="<%= liner_gradiente_card_img url_for(service.photos.sample) %>">
    <% else %>
      <div class="image-mobile" style="<%= liner_gradiente_card_img 'images/1280x960.png' %>">
    <% end %>
      <div class="content">
        <h1 class="has-text-white is-size-4 has-text-weight-semibold"><%= service.title %></h1>
        <p class="has-text-white">
          <span class="is-size-4">R$ <%= service.amount %></span>
          <span class="is-size-1 dot">.</span>
          <span class="is-size-5"><%= service.category.name %></span>
        </p>
        <%= link_to 'Agendar', service_path(service), class: 'button is-light has-text-weight-semibold' %>
      </div>
    </div>
  </div>
</div>