<%= form_with url: filters_path, method: :get, id: 'form_search' do |f| %>
  <%= f.hidden_field :local_type, value: filter['local_type'] %>
  <%= f.hidden_field :category_id, value: filter['category_id'] %> 
  <div class="field">
    <p class="control has-icons-right">
      <%= f.text_field :query, class: 'input is-rounded', placeholder: 'Busque por um serviço...' %>
      <span class="icon is-small is-right">
        <%= image_tag '/images/search.png' %>
      </span>
    </p>
  </div>
<% end %>