<header>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is48x48" href="/">
          <img src="/logo.jpeg">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBLZ">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBLZ" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <% if establishment? %>
                  <p class="is-size-5">
                    <span class="is-size-6">Olá, </span>
                    <%= current_user.establishment.name %>
                    <span class="is-size-6">:)</span>
                  </p>
                  <%= link_to "Meus trabalhos",
                              establishments_dashboard_path(
                                current_user.establishment
                              ),
                              class: 'button is-info is-rounded' %>
                  <%= link_to "Editar dados",
                              edit_establishment_path(
                                current_user.establishment
                              ),
                              class: 'button is-light is-rounded' %>
                <% else %>
                  <p class="is-size-5">
                    <span class="is-size-6">Olá, </span>
                    <%= current_user.name %>
                    <span class="is-size-6">:)</span>
                  </p>
                  <%= link_to "Minha conta",
                              users_dashboard_path(current_user),
                              class: 'button is-info is-rounded' %>
                <% end %>

                <%= link_to 'Sair', destroy_user_session_path, method: :delete,
                            class: 'button is-light is-rounded' %>
              <% else %>                
                <%= link_to 'Entrar', new_user_session_path,
                            class: 'button is-light is-rounded' %>
                <%= link_to 'Cadastre seu serviço', new_establishment_path,
                            class: 'button is-info is-rounded' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>