<%= render 'shared/header', to_back: true %>
<div class="devise">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
  <section class="login_form">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4 is-mobile">
        <h3 class="title">Informe seu email</h3>
        <div class="box">
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="control">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, placeholder: "ex: example@blz.life", class: "input is-medium" %>
            </div>
          </div>

          <div class="columns is-mobile field">
            <div class="column">
              <%= link_to "Voltar", root_path, class: "button is-block is-large is-fullwidth" %>
            </div>

            <div class="column">
              <%= f.submit "Recuperar", class: "button is-block is-info is-large is-fullwidth" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
</div>