<header>
  <div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <% if to_back %>
          <%= link_to to_back, class: 'navbar-item to-back' do %>
            <span class="icon is-size-4">
              <i class="fas fa-arrow-left"></i>
            </span>
          <% end %>
        <% end %>
        <a class="navbar-item is-size-3 <%= to_back ? 'is-center' : '' %>" href="/">
          BLZ
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? && establishment? %>
              <%= link_to 'Minha conta', establishments_dashboard_path(current_user.establishment), class: 'button is-pulled-right' %>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'button is-pulled-right' %>
            <% elsif user_signed_in? %>
              <%= link_to 'Minha conta', users_dashboard_path(current_user), class: 'button is-pulled-right' %>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'button is-pulled-right' %>
            <% else %>
              <%= link_to 'Entrar', new_user_session_path, class: 'button is-pulled-right' %>
              <%= link_to 'Cadastre seu serviço', new_establishment_path, class: 'button is-pulled-right' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
