<div id="rating" class="column is-12">
  <h1 class="is-size-4 has-text-grey">Avaliar</h>
    <%= form_with url: scheduling_reviews_path(schedule), class: :custom do |f| %>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Comentário <small class="is-danger">*</small></label>
          <div class="control">
            <%= f.text_area :body, class: :textarea, placeholder: 'O que achou do serviço?', required: true  %>
          </div>
        </div>
      </div>

      <div class="column is-12">
        <fieldset class="rating_field">
          <% 5.times do |number| %>
            <%= f.text_field :rating, value: 5 - number, type: :radio, id:  "star#{5 - number}" %>
            <%= f.label "", for: "star#{5 - number}", class: 'fas fa-star' %>
          <% end %>
        </fieldset>
      </div>

    <div class="column is-12 has-text-right">
      <%= button_tag :cancelar, class: 'button modal-close-custom is-capitalized', type: :button %>
      <%= f.submit :salvar,  class: 'button is-primary is-capitalized' %>
    </div>
  <% end %>
</div>
