<%= render 'shared/header', to_back: false, fixed: false %>
<div class="new-scheduling">
  <div class="container">
    <h1 class="title is-size-4 has-text-black">Finalizar Agendamento</h1>
    <%= form_with model: @scheduling, url: scheduling_index_path, class: :custom, local: true do |f| %>
      <div class="columns is-multiline">
        <div class="column is-12">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <% if @scheduling.professional.photo.attached? %>
                  <%= image_tag @scheduling.professional_service.thumbnail(@scheduling.professional.photo, :avatar),
                        class:'is-rounded' %>
                <% else %>
                  <img src="/images/128x128.png" class="is-rounded">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <p class="title has-text-black has-text-weight-normal is-size-6"><%= @scheduling.service.title %></p>
              <p class="subtitle is-size-7"><%= @scheduling.professional.name %></p>
            </div>
          </article>
        </div>
        <div class="column is-12">
          <p class="is-size-6"><%= @scheduling.service.description %></p>
        </div>
        <div class="column is-4">
          <p class="is-size-6 has-text-grey">Horário escolhido</p>
          <span class="icon has-text-black"><i class="far fa-clock"></i></span>
          <span
          class="is-size-6 has-text-black"><%= "#{day_month(@scheduling.date)} às #{time(@scheduling.date)}" %></span>
        </div>
        <div class="column is-4">
          <p class="is-size-6 has-text-grey">Duração estimada</p>
          <span class="icon is-duration has-text-black"><i class="fas fa-hourglass-half"></i></span>
          <span class="is-size-6 has-text-black"><%= @scheduling.service.duration %> min</span>
        </div>
        <div class="column is-4">
          <p class="is-size-6 has-text-grey">Valor</p>
          <span class="is-size-6 has-text-black">R$ <%= @scheduling.service.amount %></span>
        </div>
        <% if @scheduling.service.both? %>
          <div class="column is-12">
            <div class="field">
              <div class="control">
                <div class="select">
                  <%= f.select :home, [['Estabelecimento', 0], ['Em casa', 1]] %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% unless @scheduling.service.home? %>
          <div class="column is-12" id="establishment_address">
            <p class="is-size-6 has-text-grey">Endereço</p>
            <span class="fas fa-map-marker-alt has-text-black"></span>
            <span class="is-size-6 has-text-black"><%= @scheduling.home? ? @scheduling.address.full : @scheduling.service.establishment.address.full %></span>
          </div>
        <% end %>
        <% unless @scheduling.service.establishment? %>
          <div id='address_form'>
            <%= f.fields_for :address do |ff| %>
              <%= render 'form_address', f: ff%>
            <% end %>
          </div>
        <% end %>
        <div class="column is-12 actions">
          <%= f.hidden_field :professional_service_id, value: @scheduling.professional_service.id %>
          <%= f.hidden_field :date, value:  @scheduling.date %>
          <%= f.hidden_field :home, value: @scheduling.service.home? ? 1 : 0 unless @scheduling.service.both? %>
          <%= f.submit :finalizar, class: 'button is-primary is-capitalized is-pulled-right' %>
          <%= link_to :cancelar, service_path(@scheduling.service), class: 'button is-capitalized is-pulled-right has-text-grey is-text'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
