<% if establishment? %>
  <%= render 'shared/header', to_back: false, fixed: true %>
<% else %>
  <%= render 'shared/header', to_back: users_dashboard_path(current_user), fixed: true %>
<% end %>
<div class="scheduling-details">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="is-size-4 has-text-grey"> Agendamento </h1>
      </div>
      <div class="column is-12">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <% if @scheduling.professional.photo.attached? %>
                <%= image_tag @scheduling.thumbnail(@scheduling.professional.photo, :avatar),
                                class:'image is-rounded' %>
              <% else %>
                <img src="/images/128x128.png" class="image is-rounded">
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-size-5 is-size-4-desktop"><%= @scheduling.service.title %></p>
            <p class="subtitle is-size-7 is-size-6-desktop"><%= @scheduling.professional.name %></p>
          </div>
        </article>
      </div>
      <% unless establishment? %>
        <div class="column is-12">
          <p class="is-size-6 is-size-5-desktop"><%= @scheduling.service.description %></p>
        </div>
      <% end %>
      <div class="column is-12">
        <div class="columns is-multiline infos">
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop">Horário escolhido</p>
            <span class="icon is-size-5"><i class="far fa-clock"></i></span>
            <span class="is-size-6 is-size-5-desktop"><%= "#{day_month(@scheduling.date)} às #{time(@scheduling.date)}" %></span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop">Duração estimada</p>
            <span class="icon is-size-5"><i class="fas fa-hourglass-start"></i></span>
            <span class="is-size-6 is-size-5-desktop"><%= @scheduling.service.duration %> min</span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop">Situação</p>
            <span class="icon is-size-5"><i class="fas fa-info-circle"></i></span>
            <span class="is-size-6 is-size-5-desktop"><%= @scheduling.t_status %></span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop">Valor <%= "a partir de" if @scheduling.service.start_from %></p>
            <span class="icon is-size-5"><i class="fas fa-money-check-alt"></i></span>
            <span class="is-size-6 is-size-5-desktop">R$ <%= @scheduling.service.amount %></span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop">Endereço</p>
            <span class="icon is-size-5"><i class="fas fa-map-marker-alt"></i></span>
            <span class="is-size-6 is-size-5-desktop"><%= @scheduling.in_home? ? @scheduling.address.full : @scheduling.service.establishment.address.full %></span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop">Local</p>
            <span class="icon is-size-5"><i class="<%= @scheduling.in_home? ? 'fas fa-home' : 'fas fa-store-alt' %>"></i></span>
            <% if establishment? %>
              <span class="is-size-6 is-size-5-desktop"><%= @scheduling.in_home? ? 'A domicílio' : 'No seu estabelecimento' %></span>
            <% else %>
              <span class="is-size-6 is-size-5-desktop"><%= @scheduling.in_home? ? 'A domicílio' : 'No estabelecimento' %></span>
            <% end %>
          </div>
        </div>
        <% if establishment? %>
          <div class="column is-12">
            <p class="is-size-7 is-size-6-desktop">Cliente</p>
            <span class="icon is-size-5"><i class="far fa-user"></i></span>
            <span class="is-size-6 is-size-5-desktop"><%= @scheduling.user.name %></span>
          </div>
        <% end %>
      </div>
      <div class="column is-12 actions">
        <% if @scheduling.scheduled? && Time.now < @scheduling.date  %>
          <a class="button is-light modal-button tooltip is-pulled-right" data-target="cancel-scheduling-modal"
              data-tooltip="Ver políticas de cancelamento">
            <span class="icon has-text-grey is-size-4">
              <i class="far fa-question-circle"></i>
            </span>
            <span class="has-text-danger">Cancelar</span>
          </a>
        <% end %>
        <% if establishment? %>
          <%= link_to 'Voltar', establishments_dashboard_path(current_user.establishment), class: 'button is-text' %>
          <%= link_to :finalizar, scheduling_path(@scheduling, status: :finalize), class: 'button is-primary is-pulled-right is-capitalized', method: :put if Time.now > @scheduling.date %>
          <%= link_to :aceitar, scheduling_path(@scheduling, status: :scheduled), class: 'button is-primary is-pulled-right is-capitalized', method: :put if @scheduling.analyze? %>
          <%= link_to :recusar, scheduling_path(@scheduling, status: :recused), class: 'button is-danger is-pulled-right is-capitalized', method: :put if @scheduling.analyze? %>
        <% else %>
          <%= link_to 'Reportar um problema', '#report-scheduling-modal', class: 'button is-danger is-pulled-right modal-button', data: { target: 'report-scheduling-modal' } if Time.now > @scheduling.date && !@scheduling.report_problem %>
          <%= link_to 'Voltar', users_dashboard_path(current_user), class: 'button is-text' %>
        <% end %>
      </div>
      <%= render 'scheduling/new_rating', schedule: @scheduling if policy(Review).new?(@scheduling) %>
      <%= render 'scheduling/rating', review: @scheduling.review if policy(Review).show?(@scheduling) %>
    </div>
  </div>
  <% if establishment? %>
    <%= render 'shared/establishment_bottom_navigation_bar', tab: 'scheduling' %>
  <% else %>
    <%= render 'shared/user_bottom_navigation_bar', tab: 'scheduling' %>
  <% end %>
</div>
<%= render 'cancel_modal' %>
<%= render 'report_modal' %>

