<% @i = 5 %>
<div id="rating">
  <div class="columns is-multiline is-mobile">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head has-background-primary">
        <p class="modal-card-title has-text-weight-bold has-text-white">
          Sua Avaliação
        </p>
      </header>
      <section class="modal-card-body">
        <div class="column is-12">
          <div class="field">
            <label class="label" for="comment">
              Seu Comentário
            </label>
            <div class="control">
              <textarea class="textarea" cols="30" id="comment" name="commen" rows="10" readonly>
                <%= review.body %>
              </textarea>
            </div>
          </div>
        </div>
        <div class="has-text-centered">
          <fieldset class="rating_field" style="margin-top: 5px;">
            <% 10.times do |ff| %>
              <input name="rating" type="radio" value="<%=@i%>" id="star<%=@i%>" disabled <%= "checked" if review.rating == @i %>/>
              <label for="star<%=@i%>" class="<%= ff.even? ? :full : :half%>"></label>
              <% @i -= 0.5 %>
            <% end %>
          </fieldset>
        </div>
        <div class="column is-12 has-text-right">
          <button class="button close-button">Cancelar</button>
        </div>
      </section>
    </div>
  </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
