<div class="column is-6">
  <div class="image-mobile box" style="<%= 
    (scheduling.service.photos.attached?) ?
        liner_gradiente_card_img_dashboard_user(
          url_for(scheduling.thumbnail(scheduling.service.photos.sample, custom: '960x640!'))
        ) : liner_gradiente_card_img_dashboard_user(default_image_service(scheduling.service)) %>">
    <div class="columns content is-multiline">
      <div class="column is-12">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <% if scheduling.professional.photo.attached? %>
                <%= image_tag scheduling.thumbnail(scheduling.professional.photo, :avatar),
                              class:'image is-rounded' %>
              <% else %>
                <img src="/images/128x128.png" class="image is-rounded">
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-size-5 is-size-4-desktop has-text-white"><%= scheduling.service.title %></p>
            <p class="subtitle is-size-7 is-size-6-desktop has-text-white"><%= scheduling.professional.name %></p>
          </div>
        </article>
      </div>
      <div class="column is-12">
        <div class="columns is-multiline infos">
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop has-text-white">Horário escolhido</p>
            <span class="icon is-size-5 has-text-white has-text-white"><i class="far fa-clock"></i></span>
            <span class="is-size-6 is-size-5-desktop has-text-white"><%= "#{day_month(scheduling.date)} às #{time(scheduling.date)}" %></span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop has-text-white">Duração estimada</p>
            <span class="icon is-size-5 has-text-white"><i class="fas fa-hourglass-start"></i></span>
            <span class="is-size-6 is-size-5-desktop has-text-white"><%= scheduling.service.duration %> min</span>
          </div>
          <div class="column is-6">
            <p class="is-size-7 is-size-6-desktop has-text-white">Situação</p>
            <span class="icon is-size-5 has-text-white"><i class="fas fa-info-circle"></i></span>
            <span class="is-size-6 is-size-5-desktop has-text-white"><%= scheduling.t_status %></span>
          </div>
          <div class="column is-12">
            <p class="is-size-7 is-size-6-desktop has-text-white">Endereço</p>
            <span class="icon is-size-5 has-text-white"><i class="fas fa-map-marker-alt"></i></span>
            <span class="is-size-6 is-size-5-desktop has-text-white"><%= scheduling.in_home? ? scheduling.address.full : scheduling.service.establishment.address.full %></span>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <p class="is-size-3 has-text-white">R$ <%= scheduling.service.amount %></p>
      </div>
      <div class="column is-12 actions">
        <%= link_to 'Ver detalhes', scheduling_path(scheduling), class: 'button is-light' %>
        <%= button_tag :avaliar, type: :button, data: { target: :rating_modal }, class: 'button is-light is-pulled-right modal-button is-capitalized' if policy(Review).new?(scheduling)  %>
      </div>
    </div>
  </div>
</div>

<% unless scheduling.review %>
  <div class="modal" id="rating_modal">
    <%= render 'new_rating_modal', schedule: scheduling %>
  </div>
<% end %>
