<%= render 'shared/header', to_back: false, fixed: true %>
<%= render 'notify_header' %>
<div class="users_dashboard">
  <div class="container">
    <div class="columns is-multiline">
      <% if @scheduling.any? %>
        <div class="column is-6">
          <h1 class="is-size-4 has-text-grey"> Meus agendamentos </h1>
        </div>
        <%= form_with url: users_dashboard_path(current_user), local: true, class: 'column is-6', method: :get do |f| %>
          <div class="control">
            <div class="select">
              <%= select_tag :users_dashboard_status, options_for_select(scheduling_status, selected: @status), prompt: "Todos" %>
            </div>
          </div>
        <% end %>
        <% @scheduling.each do |s| %>
          <%= render 'scheduling_card', scheduling: s %>
        <% end %>
      <% else %>
        <div class="column is-12">
          <p class="has-text-centered has-text-white-light is-size-4">
            Você ainda não possui agendamentos :(
          </p>
        </div>
        <div class="column is-12 has-text-centered">
          <%= link_to root_path do %>
            <span class="button is-text is-size-5 has-text-white-light">
              Encontre um serviço
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/user_bottom_navigation_bar', tab: 'scheduling' %>
</div>
