<%= render 'shared/header' %>
<div class="users_dashboard">
  <div class="container">
    <div class="columns is-multiline">
      <% if @scheduling.any? %>
      <div class="column is-12">
        <h1 class="is-size-4 has-text-grey"> Meus agendamentos </h1>
      </div>
      <% @scheduling.each do |schedule| %>
      <div class="column is-6">
        <div class="image-mobile box" style="<%= 
          (schedule.professional_service.service.photos.attached?) ?
            liner_gradiente_card_img_dashboard_user(url_for(schedule.professional_service.service.photos.sample)) :
            liner_gradiente_card_img_dashboard_user('images/1280x960.png') %>">
          <div class="columns content is-multiline">
            <div class="column is-12">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <% if schedule.professional_service.professional.photo.attached? %>
                      <%= image_tag schedule.professional_service.professional.photo, class:'image is-rounded' %>
                    <% else %>
                      <img src="https://bulma.io/images/placeholders/128x128.png" class="image is-rounded">
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-size-5 is-size-4-desktop has-text-white"><%= schedule.professional_service.service.title %></p>
                  <p class="subtitle is-size-7 is-size-6-desktop has-text-white"><%= schedule.professional_service.professional.name %></p>
                </div>
              </article>
            </div>
            <div class="column is-12">
              <div class="columns is-multiline infos">
                <div class="column is-6">
                  <p class="is-size-7 is-size-6-desktop has-text-white">Horário escolhido</p>
                  <span class="icon is-size-5 has-text-white has-text-white"><i class="far fa-clock"></i></span>
                  <span class="is-size-6 is-size-5-desktop has-text-white"><%= "#{day_month(schedule.date)} às #{time(schedule.date)}" %></span>
                </div>
                <div class="column is-6">
                  <p class="is-size-7 is-size-6-desktop has-text-white">Duração estimada</p>
                  <span class="icon is-size-5 has-text-white"><i class="fas fa-hourglass-start"></i></span>
                  <span class="is-size-6 is-size-5-desktop has-text-white"><%= schedule.professional_service.service.duration %> min</span>
                </div>
                <div class="column is-6">
                  <p class="is-size-7 is-size-6-desktop has-text-white">Situação</p>
                  <span class="icon is-size-5 has-text-white"><i class="fas fa-info-circle"></i></span>
                  <span class="is-size-6 is-size-5-desktop has-text-white"><%= schedule.professional_service.service.t_status %></span>
                </div>
                <div class="column is-12">
                  <p class="is-size-7 is-size-6-desktop has-text-white">Endereço</p>
                  <span class="icon is-size-5 has-text-white"><i class="fas fa-map-marker-alt"></i></span>
                  <span class="is-size-6 is-size-5-desktop has-text-white"><%= schedule.professional_service.service.establishment.address.full %></span>
                </div>
              <div>
            </div>
            <div class="column is-12">
              <div class="columns is-mobile actions">
                <div class="column is-8">
                  <p class="is-size-3 has-text-white">R$ <%= schedule.professional_service.service.amount %></p>
                </div>
                <div class="column is-4 has-text-centered">
                  <% if !schedule.finished? %>
                    <a class="button is-light">Avaliar</a>
                  <% else %>
                    <a class="button is-text">Cancelar</a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
      <% end %>
      <% else %>
        <div class="columns is-multiline">
          <div class="column is-12">
            <p class="has-text-centered has-text-white-light is-size-4">
              Você ainda não possui agendamentos :(
            </p>
          </div>
          <div class="column is-12 has-text-centered">
            <%= link_to root_path do %>
              <span class="button is-text is-size-5 has-text-white-light">
                Encontre um serviço
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>