<%= render 'shared/header', to_back: true %>
<div class="devise">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="login_form">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4 is-mobile">
        <h3 class="title has-text-grey">Faça seu acesso</h3>
        <div class="box">
          <div class="field">
            <div class="control">
              <%= f.label :email, "Email", class: "label" %>
              <%= f.email_field :email, class: "input is-medium", placeholder: "ex: example@blz.life" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :password, "Senha", class: "label" %>
              <%= f.password_field :password, class: "input is-medium", placeholder: "Informe sua senha" %>
            </div>
          </div>

          <div class="field">
            <p class="has-text-left">
              <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "has-text-black" %>
              &nbsp;·&nbsp;
            </p>
          </div>

          <div class="columns is-mobile field">
            <div class="column">
              <%= link_to "Voltar", root_path, class: "button is-block is-large is-fullwidth" %>
            </div>

            <div class="column">
              <%= f.submit "Entrar", class: "button is-block is-info is-large is-fullwidth" %>
            </div>
          </div>

          <div class="field">
            <p class="has-text-grey">
              Ainda não tem uma conta? <%= link_to "Cadastre-se", new_registration_path(resource_name) %>
            </p>
          </div>
          <!--
              <p>Entrar com</p>
              #link_to user_facebook_omniauth_authorize_path, class: "is-size-4" do
                <i class="fab fa-facebook"></i>
              #end
              #link_to user_google_oauth2_omniauth_authorize_path, class: "is-size-4"
                <i class="fab fa-google-plus-square"></i>
              #end
              -->
        </div>

      </div>
    </div>
  </section>
  <% end %>
</div>