<div class="devise">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Entrar</h3>
            <p class="subtitle has-text-grey">Por favor realize o acesso para prosseguir</p>
            <div class="box">
              <figure class="avatar">
                <img src="https://placehold.it/128x128">
              </figure>
              <div class="field">
                <div class="control">
                  <%= f.email_field :email, class: "input is-large", placeholder: "Seu Email" %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.password_field :password, class: "input is-large", placeholder: "Sua Senha" %>
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  Lembrar-me
                </label>
              </div>
              <%= f.submit "Entrar", class: "button is-block is-info is-large is-fullwidth" %>
              </br>
              <%= link_to "Voltar", root_path, class: "button is-block is-large is-fullwidth" %>
              <p>Entrar com</p>
              <%= link_to user_facebook_omniauth_authorize_path, class: "is-size-4" do %>
                <i class="fab fa-facebook"></i>
              <% end %>
              <%= link_to user_google_oauth2_omniauth_authorize_path, class: "is-size-4" do %>
                <i class="fab fa-google-plus-square"></i>
              <% end %>
            </div>
            <p class="has-text-grey">
              <%= render "devise/shared/links" %>
            </p>
          </div>
        </div>
      </div>
    </section>
  <% end %>

</div>