<div id="add_payment_card" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <section class="modal-card-body">
      <div class="column is-12">
        <h1 class="is-size-5 has-text-grey has-text-weight-bold"> Cartão de crédito </h1>
      </div>
      <%= form_with model: current_user.payment_cards.build, class: :custom, local: true do |f| %>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Número do cartão <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :number, required: true, class: :input, placeholder: 'Informe o número do cartão', maxlength: '19' %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Nome do titular <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :holder_name, required: true, class: :input, placeholder: 'Informe o igual no cartão' %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">CPF do titular <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.text_field :holder_cpf, required: true, class: 'input cpf', placeholder: 'Informe o CPF' %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Data de nascimento do titular <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.date_field :holder_birth_date, required: true, class: :input %>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="column is-6">
            <label class="has-text-grey has-text-weight-normal field-label">Validade <small class="is-danger">*</small></label>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select">
                    <%= f.select :expiration_month, credit_card_expiration_month_range, include_blank: true, required: true %>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="select">
                    <%= f.select :expiration_year, credit_card_expiration_year_range, include_blank: true, required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <label class="has-text-grey has-text-weight-normal field-label">CVV <small class="is-danger">*</small></label>
            <%= f.text_field :cvv, class: :input, placeholder: 'ex: 635', maxlength: '3'%>
          </div>
        </div>
        <div class="column is-12" id='hidden_keys'>
          <%= f.text_area :public_key,
        value: "-----BEGIN PUBLIC KEY-----
        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsj7uzpy+cahCaQfe3TmJ
        yhqG2xfePhpKNkc7W3fpp+5xYrgFOUxz9ZYYl7dHnB67B0eErInK5EhikCq19yax
        4o+ZW5QUfhBGu/6ec8Nmkfo/4jtCU3Hbd1nvYdbsiGA6MeKfGtFMoxJBP107lMuU
        wMi44yEjZPvc1Iw8R4/CYx/K5C6on1GjOlwJ4CYBtWJXuMceexkRHNKYVHjq2NrS
        d/6NtT6yzwqcKqnO2WAp4Qe4Q5oOhWB0mR157V5dTSNdbDMJUi91lYvJoXBskDcN
        yLLsaIJH4+HlJH1gmeM+AqTtivFNDTucOpV0AHsnTGgMEeubIxS4vNCKg1JBcsVx
        2QIDAQAB
        -----END PUBLIC KEY-----", class: 'is-hidden' %>
          <%= f.text_field :hash_card, class: 'is-hidden' %>
        </div>
        <div class="field-body">
          <div class="column is-1">
            <i class="fas fa-question-circle is-size-4 has-text-danger"></i>
          </div>
          <div class="column is-11">
            <span class="has-text-danger">
              Texto a ser criado para informar o usuário que não terá cobranças. Mais informações nos <%= link_to 'termos de uso', use_rules_path, class: 'has-text-danger is-link', target: '_blank' %>.
            </span>
          </div>
        </div>
        <div class="column is-12 has-text-right">
          <%= f.submit 'Salvar', class: 'button is-light is-pulled-right', disabled: true  %>
          <%= button_tag :cancelar, class: 'button modal-close-custom is-text has-text-grey  is-pulled-right', type: :button  %>
        </div>
      <% end %>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>