<%= render 'shared/header', to_back: false %>
<div class="form-login edit">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="field">
          <label class="file-label">
            <figure class="image is-128x128" id="temporary_image">
              <% if current_user.photo.attached? %>
                <%= image_tag current_user.photo, class: "is-rounded" %>
              <% else %>
                <img class="is-rounded" src="/images/128x128.png">
              <% end %>
            </figure>
          </label>
        </div>
      </div>
      <div class="column is-12">
        <h1 class="is-size-4 has-text-grey has-text-centered"> <%= current_user.name %> </h1>
      </div>
      <div class="column is-12">
        <div class="tabs is-centered">
          <ul>
            <li>
              <%= link_to 'Geral', edit_user_registration_path %>
            </li>
            <li class="is-active">
              <%= link_to 'Cartão', payment_cards_path %>
            </li>
          </ul>
        </div>
        <div class="column is-12 has-text-centered">
          <% if @payment_cards.empty? %>
            <p class="has-text-grey">
              <i class="fas fa-question-circle is-size-3"></i>
              Texto a ser criado para informar o usuário que não terá cobranças. Mais informações nos <a href="#" class="has-text-grey" style="text-decoration: underline;">termos de uso</a>
            </p>
            <%= link_to 'Informe um cartão', '#add_payment_card', class: 'modal-button', data: { target: :add_payment_card }, style: 'text-decoration: underline;'%>
          <% else %>
            <div class="has-text-right">
              <%= link_to :novo, '#add_payment_card', class: 'button is-primary is-outlined modal-button is-capitalized', data: { target: :add_payment_card } %>
              <%= render 'table_cards', payment_cards: @payment_cards %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/user_bottom_navigation_bar', tab: 'profile' %>
<%= render 'add_payment_card' %>
