<%= render 'shared/header', to_back: false, fixed: false %>
<div class="filter-services">
  <div class="container">
    <h1 class="title is-size-4 has-text-grey">Serviços encontrados </h1>
    <%= form_with url: '/filter_services', class: 'custom', id: 'filter-services', method: :get, authenticity_token: false, local: true do |f| %>
      <div class="columns">
        <div class="column is-3">
          <div class="field">
            <div class="control search">
              <%= text_field_tag :query, @filter['query'], class: 'input',
                                 placeholder: 'Busque por um serviço...',
                                 autocomplete: 'off' %>
              <%= submit_tag 'Buscar', class: 'button', name: nil %>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <div class="control">
              <div class="select">
                <%= select_tag :category,
                               options_for_select(
                                Category.all.collect{ |c| [c.name, c.id] },
                                selected: @filter['category']
                               ), { prompt: "selecione uma categória", id: 'filter-services-category' } %>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <div class="control">
              <%= date_field_tag :date, @filter['date'], class: :input, id: 'filter-services-date' %>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <div class="control">
              <div class="select">
                <%= select_tag :local_type,
                               options_for_select(
                                local_type_collection,
                                selected: @filter['local_type']
                               ), { prompt: "selecione o local de atendimento", id: 'filter-services-local-type' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="columns results is-multiline">
      <% @services.each do |service| %>
        <%= render 'service_card', service: service %>
      <% end %>
      <% unless @services.any? %>
        <div class="column is-12 has-text-centered">
          <p class="is-size-4 has-text-grey">
            Nenhum serviço encontrado com esse(s) filtro(s)
          </p>
          <%= link_to 'Limpar filtros', filter_services_path, class: 'button is-text is-size-4' %>
        </div>
      <% end %>
    </div>
    <% if @services.present? && @services.count > 30 %>
      <%= pagy_bulma_nav(@pagy).html_safe %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
