<%= render 'shared/header', to_back: false, fixed: true %>
<div class="filter-services">
  <div class="container">
    <%= form_with url: '/filter_services', class: 'custom', id: 'filter-services', method: :get, authenticity_token: false, local: true do |f| %>
      <div class="columns is-mobile no-bottom-margin">
        <div class="column">
          <div class="field">
            <div class="control search">
              <%= text_field_tag :query, @filter['query'], class: 'input',
                                 placeholder: 'Busque por um serviço...',
                                 autocomplete: 'off' %>
              <%= submit_tag 'Buscar', class: 'button', name: nil %>
            </div>
          </div>
        </div>
        <div class="column is-2 is-1-desktop">
          <span class="icon is-size-3 is-pulled-right has-text-grey toggle-filter-services"
            data-target="filter-services-content">
            <i class="fas fa-sliders-h"></i>
          </span>
        </div>
      </div>
      <div class="columns" id="filter-services-content">
        <div class="column is-3">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Categoria</label>
            <div class="control">
              <div class="select">
                <%= select_tag :category,
                               options_for_select(
                                Category.all.collect{ |c| [c.name, c.id] },
                                selected: @filter['category']
                               ), { prompt: "selecione uma categória", id: 'filter-services-category' } %>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Data</label>
            <div class="control">
              <%= date_field_tag :date, @filter['date'], class: :input, id: 'filter-services-date' %>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Local</label>
            <div class="control">
              <div class="select">
                <%= select_tag :local_type,
                               options_for_select(
                                local_type_collection,
                                selected: @filter['local_type']
                               ), { prompt: "selecione o local de atendimento", id: 'filter-services-local-type' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @filter['query'] || @filter['category'] || @filter['date'] %>
      <p class="has-text-grey is-size-6">
        <div class="tags are-medium">
          <% if @filter['query'].present? %>
            <span class='tag is-rounded'>Serviços com <%= @filter['query'] %></span>
          <% end %>

          <% if @filter['category'].present? %>
            <span class='tag is-rounded'>Serviços de <%= category_name(@filter['category']) %></span>
          <% end %>

          <% if @filter['date'].present? %>
            <span class='tag is-rounded'>No dia <%= day_month(@filter['date'].to_datetime) %></span>
          <% end %>

          <% if @filter['local_type'].present? %>
            <span class='tag is-rounded'>
              <%= @filter['local_type'] == 'home' ? "Em casa" : "No estabelecimento" %></span>
          <% end %>

          <span>
            <%= link_to 'Limpar filtros', filter_services_path, class: 'button is-text' %>
          </span>
        </div>
      </p>
    <% end %>
    <div class="columns results is-multiline">
      <% @services.each do |service| %>
        <%= render 'service_card', service: service %>
      <% end %>
      <% unless @services.any? %>
        <div class="column is-12 has-text-centered">
          <p class="is-size-4 has-text-grey">
            Nenhum serviço encontrado com esse(s) filtro(s)
          </p>
          <%= link_to 'Limpar filtros', filter_services_path, class: 'button is-text is-size-4' %>
        </div>
      <% end %>
    </div>
    <% if @services.present? && @services.count > 30 %>
      <%= pagy_bulma_nav(@pagy).html_safe %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
