<%= render 'pages/shared/header' %>
<div class="new-scheduling">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <% if @scheduling.service.establishment.photo.attached? %>
                  <%= image_tag @scheduling.service.establishment.photo, class:'image' %>
                <% else %>
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="columns is-multiline">
                <div class="column is-12">
                  <div class="content">
                    <p class="has-text-weight-semibold">
                      <%= @scheduling.service.establishment.name %>
                    </p>
                    <p>
                      <i class="fas fa-star is-size-5"></i>
                      <i class="fas fa-star is-size-5"></i>
                      <i class="fas fa-star is-size-5"></i>
                      <i class="far fa-star is-size-5"></i>
                      <i class="far fa-star is-size-5"></i>  
                    </p>
                  </div>
                </div>
                <div class="column is-4">
                    <i class="fas fa-money-bill-wave is-size-4"></i>
                    R$ <%= @scheduling.service.amount.to_i %>
                </div>
                <div class="column is-4">
                    <i class="fas fa-hourglass-half is-size-4"></i>
                    <%= @scheduling.service.duration %> minutos
                </div>
                <div class="column is-4">
                    <i class="fas fa-clock is-size-4"></i>
                    <%= '02/03 às 10:00' %>
                </div>
                 <% unless @scheduling.service.establishment.address.nil? %>
                  <div class="column is-12">
                    <span>
                      <i class="fas fa-map-marker-alt is-size-4"></i>
                      <%= @scheduling.service.establishment.address.full %>
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column is-12">
        <h2 class="title"> Dados bancários </h2>
        <%= render 'credit_card_form' %>
      </div>
    </div>
  </div>
</div>