<div class="has-text-left">
  <%= form_with model: @payment_card, method: :delete, class: :custom, local: true do |f| %>
    <div class="column is-12">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Número do cartão</label>
        <div class="control">
          <%= f.text_field :number, required: true, class: :input, placeholder: 'Informe o número do cartão', maxlength: '19', disabled: true %>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Nome do titular</label>
        <div class="control">
          <%= f.text_field :holder_name, required: true, class: :input, placeholder: 'Informe o igual no cartão', disabled: true %>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">CPF do titular</label>
        <div class="control">
          <%= f.text_field :holder_cpf, required: true, class: 'input cpf', placeholder: 'Informe o CPF', disabled: true %>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <div class="field">
        <label class="label has-text-grey has-text-weight-normal">Data de nascimento do titular</label>
        <div class="control">
          <%= f.date_field :holder_birth_date, required: true, class: :input, disabled: true %>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="column is-6">
        <label class="has-text-grey has-text-weight-normal field-label">Validade</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= f.text_field :expiration_month, required: true, class: :input, placeholder: 'MM', maxlength: '2', disabled: true %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.text_field :expiration_year, required: true, class: :input, placeholder: 'AA', maxlength: '2', disabled: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-12 has-text-right">
      <%= f.submit :excluir, class: 'button is-light is-pulled-right has-background-danger', method: :delete, data: { confirm: 'Você tem certeza?' } %>
      <%= link_to :voltar, payment_cards_path, class: 'button is-text has-text-grey is-pulled-right' %>
    </div>
  <% end %>
</div>
