<div class="column is-12 is-size-5">
  <p>Pronto!</p>
</div>
<div class="column is-12 is-size-6">
  <p>Agora você já pode encher sua agenda de clienets!</p>
</div>
<div class="column is-12 is-size-6">
  <p>Caso continue com dúvidas, basta entrar em contato conosco através do e-mail: <span class="has-text-weight-bold">contato@blz.life</span>
  ou das 10:00 às 18:00 horas pelo whatsapp <span class="has-text-weight-bold">69 99274-0628</span></p>
</div>
<div class="column is-12 is-size-6">
  <p>Estamos muito felizes de ter você conosco!</p>
</div>
<div class="column is-12">
  <%= link_to :voltar, establishment_welcomes_path(@establishment, step: 3), class: "has-text-primary is-link is-size-6"%>
  <%= link_to :começar, establishments_dashboard_path(@establishment), class: "has-text-primary is-link is-size-6"%>
  <div class="tabs is-toggle is-toggle-rounded is-centered is-size-7">
    <ul>
      <li>
        <%= link_to establishment_welcomes_path(@establishment, step: 1) do %>
          <i class="far fa-circle"></i>
        <% end %>
      </li>
      <li>
        <%= link_to establishment_welcomes_path(@establishment, step: 2) do %>
          <i class="far fa-circle"></i>
        <% end %>
      </li>
      <li>
        <%= link_to establishment_welcomes_path(@establishment, step: 3) do %>
          <i class="far fa-circle"></i>
        <% end %>
      </li>
      <li>
        <a>
          <i class="fas fa-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
