<%= render 'admin/shared/header'%>

<div class="container">
  <div class="content">
    <h1 class="has-text-grey">Usuários</h1>
    <%= form_tag(admin_users_path, method: :get, id: 'form_search', class:'custom') do %>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <%= text_field_tag :search, params[:search], class:'input', placeholder:'Pesquise algum usuário...',autocomplete: 'off' %>
        </p>

        <p class="control">
            <% if @users.present?%>
            <%= submit_tag 'Buscar',  class: 'button is-info' %>
          <% else %>
            <a class="button is-info" type="submit" href="/admin/users">Limpar filtros</a>
          <% end %>
        </p>
      </div>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.cpf %></td>
            <td><%= user.status %></td>
            <td><a href="#">detalhes</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @users.present? %>
    <%= pagy_bulma_nav(@pagy).html_safe %>
  <% end %>
</div>