<%= render 'admin/shared/header' %>
<div class="admin-user">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="field">
          <label class="file-label">
            <figure class="image is-128x128" id="temporary_image">
              <% if @user.photo.attached? %>
                <%= image_tag @user.photo, class: "is-rounded" %>
              <% else %>
                <img class="is-rounded" src="/images/128x128.png">
              <% end %>
            </figure>
          </label>
        </div>
      </div>
      <div class="column is-12">
        <h1 class="is-size-4 has-text-grey has-text-centered"> <%= @user.name %> </h1>
      </div>
      <div class="column is-4">
        <h2 class="subtitle is-size-6 has-text-grey">Email</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @user.email %></h1>
      </div>
      <div class="column is-4">
        <h2 class="subtitle is-size-6 has-text-grey">CPF</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6 cpf"><%= @user.cpf %></h1>
      </div>
      <div class="column is-4">
        <h2 class="subtitle is-size-6 has-text-grey">Data de nascimento</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @user.birth_date %></h1>
      </div>
      <div class="column is-4">
        <h2 class="subtitle is-size-6 has-text-grey">Telefone</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6 phone"><%= @user.phone %></h1>
      </div>
      <div class="column is-4">
        <h2 class="subtitle is-size-6 has-text-grey">Status</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @user.t_status %></h1>
      </div>
      <div class="column is-4">
          <h2 class="subtitle is-size-6 has-text-grey">Perfil</h2>
          <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= profile(@user) %></h1>
      </div>
      <div class="column is-12">
        <%= link_to :voltar, admin_users_path, class: 'button is-text has-text-grey is-capitalized' %>
        <%= link_to :bloquear, admin_user_path(@user, status: :blocked), class: 'button is-danger is-capitalized is-pulled-right', method: :put, data: { confirm: "Você tem certeza?" } unless @user.blocked? %>
        <%= link_to :ativar, admin_user_path(@user, status: :active), class: 'button is-primary is-capitalized is-pulled-right', method: :put, data: { confirm: "Você tem certeza?" } unless @user.active? %>
      </div>
    </div>
  </div>
</div>
