<%= form_with model: @establishment, local: true, class: 'custom establishment' do |f| %>
  <div class="columns is-multiline">
    <% unless @messages_errors.nil? %>
      <div class="column is-12">
        <% @messages_errors.each do |msg| %>
          <div class="notification is-danger">
            <button class="delete" type="button"></button>
            <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="column is-12">
      <h1 class="title is-size-4 has-text-weight-normal">
        <span class="icon"><i class="fas fa-store-alt"></i></span>
        Sobre o estabelecimento
      </h1>
    </div>
    <% if @establishment.new_record? %>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Nome do estabelecimento <small class="is-danger">*</small></label>
          <div class="control">
            <%= f.text_field :name, class: 'input', required: true, placeholder:"Diga o nome fantasia do estabelecimento.." %>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field ">
          <label class="label has-text-grey has-text-weight-normal">Para autônomos</label>
          <div class="control">
            <%= f.check_box :self_employed, class: 'is-checkradio' %>
            <label for="establishment_self_employed">Trabalha de forma autônoma? </label>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Horario de funcionamento <small class="is-danger">*</small></label>
          <div class="control">
            <%= f.text_field :timetable, class: 'input', required: true, placeholder:"Em qual horário você trabalha ?"%>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.fields_for :address do |form_address| %>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">CEP <small class="is-danger">*</small></label>
          <div class="control">
            <%= form_address.text_field :zipcode, class: 'input zipcode', required: true, placeholder:"Qual o CEP do endereço do estabelecimento ?" %>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Rua <small class="is-danger">*</small></label>
          <div class="control">
            <%= form_address.text_field :street, class: 'input', required: true, placeholder:"Rua do seu estabelecimento ?" %>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Numero <small class="is-danger">*</small></label>
          <div class="control">
            <%= form_address.text_field :number, class: 'input', required: true, placeholder:"Numero do seu estabelecimento ?" %>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Bairro <small class="is-danger">*</small></label>
          <div class="control">
            <%= form_address.text_field :neighborhood, class: 'input', required: true, placeholder:"Bairro do seu estabelecimento" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="column is-12">
      <h1 class="title is-size-4 has-text-weight-normal">
        <span class="icon"><i class="fas fa-user-cog"></i></span>
        Sobre o dono
      </h1>
    </div>
    <%= f.fields_for :user do |form_user| %>
      <% if @establishment.new_record? %>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Nome do dono <small class="is-danger">*</small></label>
            <div class="control">
              <%= form_user.text_field :name, class: 'input', required: true, placeholder:"Qual seu nome ?"%>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">CPF <small class="is-danger">*</small></label>
            <div class="control">
              <%= form_user.text_field :cpf, class: 'input cpf', required: true, placeholder:"Informe seu CPF..."%>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Email <small class="is-danger">*</small></label>
            <div class="control">
              <%= form_user.email_field :email, class: 'input', required: true, placeholder:"Informe seu email..."%>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Data de nascimento <small class="is-danger">*</small></label>
            <div class="control">
              <%= form_user.date_field :birth_date, class: 'input', required: true, placeholder:"Quando você nasceu ?"%>
            </div>
          </div>
        </div>
      <% end %>
      <div class="column is-12">
        <div class="field">
          <label class="label has-text-grey has-text-weight-normal">Telefone <small class="is-danger">*</small></label>
          <div class="control">
            <%= form_user.text_field :phone, class: 'input phone', required: true, placeholder:"Informe um telefone..."%>
          </div>
        </div>
      </div>
      <% if @establishment.new_record? %>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Senha <small class="is-danger">*</small></label>
            <div class="control">
              <%= form_user.password_field :password, class: 'input', required: true, placeholder:"Informa uma senha"%>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Confirme sua senha <small class="is-danger">*</small></label>
            <div class="control">
              <%= form_user.password_field :password_confirmation, class: 'input', required: true, placeholder:"Digite a mesma senha"%>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <%= form_user.check_box :terms_acceptation, class: 'is-checkradio', id: 'local_type_home' %>
            <label for="local_type_home" class="label has-text-grey has-text-weight-normal">Estou de acordo os <a href="#">termos de uso</a> do sistema.</label>
          </div>
        </div>
      <% else %>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Sua senha atual <small class="is-danger">*</small></label>
            <div class="control">
              <%= f.password_field :current_password, class: "input", placeholder: "Sua senha atual", required: true %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Nova senha (para alterar a senha)</label>
            <div class="control">
              <%= f.password_field :password, class: "input", placeholder: "Informe uma senha" %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <label class="label has-text-grey has-text-weight-normal">Cofirme sua nova senha (para alterar a senha)</label>
            <div class="control">
              <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirme sua senha" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="column is-12">
        <%= f.submit @establishment.new_record? ? :cadastrar : :salvar, class: 'button is-light is-pulled-right is-capitalized' %>
        <%= link_to 'Voltar', root_path, class: 'button is-text has-text-grey  is-pulled-right' if @establishment.new_record? %>
      </div>
    <% end %>
  </div>
<% end %>
