<%= render 'admin/shared/header' %>
<div class="admin-establishments">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title has-text-grey"> Sobre o estabelecimento </h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle is-size-6 has-text-grey">Nome do estabelecimento</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @establishment.name %></h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle is-size-6 has-text-grey">Horário de funcionamento</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @establishment.timetable %></h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle is-size-6 has-text-grey">Status</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @establishment.t_status %></h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle is-size-6 has-text-grey">Dono</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= link_to @establishment.user.name, admin_user_path(@establishment.user), target: '_blank' %></h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle is-size-6 has-text-grey">Endereço</h2>
        <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= @establishment.address.full %></h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle is-size-6 has-text-grey">Serviços</h2>
        <% if @establishment.services.empty? %>
          <h1 class="title has-text-weight-normal has-text-black is-size-6">Não há serviços</h1>
        <% end %>
        <% @establishment.services&.each do |service| %>
          <h1 class="title has-text-weight-normal has-text-black is-size-6"><%= service.title %> / <%= service.t_status %></h1>
        <% end %>
      </div>
      <div class="column is-12 actions">
        <%= link_to :voltar, admin_establishments_path, class: 'button is-text is-capitalized' %>
        <%= link_to :aprovar, admin_establishment_path(status: :approved), class: 'button is-primary is-pulled-right is-capitalized', method: :put unless @establishment.approved? %>
        <%= link_to :reprovar, admin_establishment_path(status: :disapproved), class: 'button is-danger is-pulled-right is-capitalized disapproved', method: :put, data: { confirm: 'Você tem certeza?' } unless @establishment.disapproved? %>
      </div>
    </div>
  </div>
</div>
